<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('admin_product_index') }}">
            Produits
        </a>
    </li>
    <li>
        <a href="{{ path('admin_category_index') }}">
            Catégories
        </a>
    </li>
    <li>
        <a href="{{ path('admin_attribute_group_index') }}">
            Groupes d'attributs
        </a>
    </li>
    <li>
        <a href="{{ path('admin_attribute_index') }}">
            Attributs
        </a>
    </li>
</ul>
